@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.form-input {
    padding: 12px 18px;
    border: solid 2px rgba(59, 130, 246, 0.52);
    outline: none;
}

#menu-toggle:checked + #menu {
    display: block;
}
